.navbar {
    width: calc(100vw - 2rem);
    height: 34px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);   
}
.logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: 600;
}