.album-art {
    width: 150px;
    height: 150px;
    object-fit: cover;
    z-index: 9;
}
.album-art-overlay {
    width: 150px;
    height: 150px;
    z-index: 10;
    bottom: 0;
    top:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.7); 
    text-align: center;
}
.track-title {
    font-size: 22px;
    font-weight: 600;
}
.track-artist {
    font-size: 18px;
    font-weight: 400;
}
.track-set {
    font-size: 14px;
    font-weight: 400;
}
@media (max-width: 1024px) {
    .album-art {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .track-title {
        font-size: 18px;
    }
    .track-artist {
        font-size: 16px;
    }
    .track-set {
        font-size: 14px;
    }
}